.main-header {
  background-color: $color-brown-94;
  padding: $spacing-md 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .container {
    @include flex(row, space-between, center);
  }

  .logo {
    img {
      width: 115.139892578125px;
      height: 53.415000915527344px;
      top: 14px;
      left: 102.59px;
      filter: invert(1);
    }
  }
}

.main-nav {
  .nav-list {
    @include flex(row, center, center);
    gap: 40px;

    .nav-item {
      position: $relative;

      .nav {
        font-family: $font-family-ubuntu;
        font-weight: $font-weight-400;
        font-size: $font-size-18;
        line-height: 100%;
        color: $color-white;
      }

      &.active a {
        color: $color-primary;
      }

      &.has-dropdown {
        &:hover .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
}



.dropdown-menu {
  position: $absolute;
  top: 100%;
  left: 0;
  background-color: $color-white;
  min-width: 180px;
  padding: $spacing-md;
  box-shadow: $shadow-md;
  border-radius: $border-radius-sm;
  opacity: 0;
  visibility: hidden;
  transform: translateY($spacing-sm);
  transition: all $transition-normal;
  z-index: 10;

  li {
    margin-bottom: $spacing-sm;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      color: $color-black;
      font-size: $font-size-14;
      font-weight: $font-weight-regular;
      padding: $spacing-xs 0;

      @include hover-effect {
        color: $color-primary;
      }
    }
  }
}

.nav-right {
  @include flex(row, flex-end, center);
  gap: 30px;

  .search-box {
    @include flex(row, flex-start, center);
    position: $relative;

    i {
      position: $absolute;
      left: $spacing-sm;
      color: $color-gray-dark;
      font-size: $font-size-14;
    }

    input {
      background-color: $color-gray-light;
      border: none;
      border-radius: $border-radius-lg;
      padding: $spacing-sm $spacing-lg $spacing-sm (
        $spacing-lg + $spacing-sm
      );
    width: 180px;
    font-size: $font-size-14;

    &:focus {
      outline: none;
      box-shadow: $shadow-box-primary;
    }

    &::placeholder {
      color: $color-gray-dark;
    }
  }
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: $color-white;
  position: $relative;

  i {
    width: 24px;
    height: 24px;
  }

  @include hover-effect {
    color: $color-primary;
  }
}

.cart-btn {
  .cart-count {
    position: $absolute;
    top: -2px;
    right: -2px;
    background-color: $color-brown-10;
    color: $color-white;
    font-size: 5.5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    @include flex(row, center, center);
  }
}

.account.dropdown {
  position: $relative;

  &:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
}