.best-seller {
   padding: 40px 0;
   background-color: $color-white;
   margin-bottom: 90px;


   .section-title {
      font-family: $font-family-ubuntu;
      font-weight: $font-weight-500;
      font-size: $font-size-34;
      line-height: 62px;
      letter-spacing: -2%;
      text-align: $center;
      color: var(--black, $color-black-25);

   }


   .section-subtitle {
      font-family: $font-family-sans;
      font-weight: $font-weight-400;
      font-size: $font-size-18;
      line-height: 62px;
      text-align: $center;
      color: $color-black-CC;
      margin-bottom: 57px;

   }

   .best-seller-grid {
      display: $grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      margin-bottom: 73px;
   }

   .best-seller-item {
      background-color: $color-transparent;
      overflow: hidden;
      text-align: $center;
      padding: 15px;
      transition: $transition-ease-transform;


      :hover {
         transform: scale(1.05);
      }

      .card {
         padding: 15px;
         box-shadow: 0 0 0 1px $color-transparent;
         background: $color-white-E8;
         display: inline-block;
         border-radius: 10px;

         img {
            background-color: $color-white-E8;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
            border: 1px solid $color-yellow-A5;
            border-radius: 1px;
         }
      }


      .product-name {
         font-size: $font-size-16;
         font-weight: $font-weight-600;
         color: $color-text-product-name;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .product-price {
         .current-price {
            font-size: $font-size-14;
            color: $color-price;
            font-weight: 500;
         }

         .old-price {
            font-size: $font-size-14;
            color: $color-brown-9;
            text-decoration: line-through;
         }
      }

      .product-rating {
         font-size: $font-size-14;
         color: $color-rating;
      }
   }

   .button-wrapper {
      text-align: $center;
   }

   .btn-all-products {
      width: 300px;
      height: 74px;
      top: 3154px;
      left: 570px;
      border-radius: 25px;
      gap: 18px;
      background: $color-brown-10;
      font-family: $font-family-sans;
      font-weight: $font-weight-400;
      font-size: $font-size-20;
      line-height: 100%;
      text-transform: capitalize;
      cursor: $cursor;
      border: none;
      color: $color-white;

      i {
         width: 26px;
         border-width: 2px;
      }
   }

   @media (max-width: $breakpoint-md) {
      .best-seller-grid {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   @media (max-width: 480px) {
      .best-seller-grid {
         grid-template-columns: 1fr;
      }
   }

}