.categories {
  background-color: $color-white;
  padding: 40px 0;
  text-align: $center;
  border-top: none;
  margin-bottom: 125px;

  .section-title {
    font-family: $font-family-ubuntu;
    font-weight: $font-weight-500;
    font-size: $font-size-34;
    line-height: 62px;
    letter-spacing: -2%;
    text-align: $center;
    color: var(--black, $color-black-25);
    margin-bottom: 28px;
  }

  .section-subtitle {
    font-family: $font-family-sans;
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    color: $color-black-CC;
    margin-bottom: 44px;
  }

  .categories-grid {
    @include grid;

    @media (max-width: 768px) {
      @include media-786;
    }

    .category-item {
      position: $relative;
      border: 2px solid $color-white-E0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: none;
      transition: $transition-ease-transform;
      cursor: $cursor;

      &:hover {
        transform: scale(1.05);

        .category-overlay {
          .item-count {
            opacity: 1;
          }
        }
      }

      &.large {
        grid-area: large1;

        &:nth-child(2) {
          grid-area: large2;
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }

      &.small {
        grid-area: small1;

        &:nth-child(4) {
          grid-area: small2;
        }

        &:nth-child(5) {
          grid-area: small3;
        }

        &:nth-child(6) {
          grid-area: small4;
        }

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }

      img {
        display: block;
      }

      .category-overlay {
        position: $absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: $color-semi-trensparent;
        color: $color-white;
        display: $flex;
        justify-content: space-between;
        align-items: $center;

        .category-name {
          font-size: $font-size-18;
          font-weight: $font-weight-600;
          margin: 0;
          text-transform: uppercase;
        }

        .item-count {
          font-size: 12px;
          background-color: $color-pink;
          color: $color-white;
          padding: 5px 10px;
          border-radius: 50%;
          display: inline-block;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          &::after {
            content: attr(data-items) " Items";
          }
        }
      }
    }
  }

  .btn-all-categories {
    width: 300px;
    height: 74px;
    border-radius: 25px;
    padding: 30px 64px;
    gap: 18px;
    background: $color-brown-10;
    font-family: $font-family-sans;
    font-weight: $font-weight-400;
    font-size: $font-size-20;
    line-height: 100%;
    text-transform: capitalize;
    cursor: $cursor;
    border: none;
    color: $color-white;

    i {
      width: 26px;
    }

    &:hover {
      border: 2px solid $color-brown-12;
      background: none;
      color: $color-brown-12;
    }
  }
}