.pet-tech-banner {
    width: 100%;
    height: 300px;
    background-image: $image-pet-tech;
    background-size: cover;
    background-position: $center;
    position: $relative;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    text-align: $center;
    padding: $spacing-xl;
    margin-bottom: 92px;

    .container {
        display: $flex;
        flex-direction: column;
        align-items: $center;
        justify-content: $center;
        border: 2px solid $color-yellow-E9;
        padding: 30px 0;
    }

    h2 {
        width: 671px;
        height: 81px;
        top: 4524px;
        left: 384px;
        font-family: $font-family-ubuntu;
        font-weight: $font-weight-500;
        font-size: $font-size-42;
        line-height: 52px;
        letter-spacing: -2%;
        text-align: $center;
        color: $color-white-C1;
        margin-bottom: 35px;
    }

    .btn-innovations {
        width: 269px;
        height: 64px;
        top: 4640px;
        left: 585px;
        border-radius: 24px;
        gap: 10px;
        background: $color-yellow-FF;
        font-family: $font-family-sans;
        font-size: $font-size-20;
        line-height: 100%;
        text-transform: capitalize;
        color: var(--black, $color-black-25);
        font-weight: $font-weight-400;
        text-align: $center;
        border: none;
        cursor: $cursor;
    }

    @media (max-width: 800px) {
        h2 {
            width: 100%;
            font-size: $font-size-32;
            line-height: 42px;
            margin-bottom: 20px;
        }

        .btn-innovations {
            width: 50%;
            height: 50px;
            font-size: $font-size-18;
        }   
    }
}